body {
    background-color: lightgray;
}

.vue-slider-dot-tooltip:before {
    border-width: 4px !important;
}

.vue-slider-dot-tooltip {
    font-size: 5px !important; /* lub inna wartość */
    padding: 1px 1px !important;
    border-radius: 4px !important;
}
